# Configuration file

balance {
    S:fluid.aluminiumbrass.molten.grammar=
    S:fluid.aluminiumbrass.molten.instability.factor_accessibility=53
    S:fluid.aluminiumbrass.molten.instability.factor_flat=6.0
    S:fluid.aluminiumbrass.molten.rarity=
    S:fluid.aluminiumbrass.molten.seabanned=true
    S:fluid.aluminum.molten.grammar=
    S:fluid.aluminum.molten.instability.factor_accessibility=53
    S:fluid.aluminum.molten.instability.factor_flat=6.0
    S:fluid.aluminum.molten.rarity=
    S:fluid.aluminum.molten.seabanned=true
    S:fluid.aluminumbrass.molten.grammar=
    S:fluid.aluminumbrass.molten.instability.factor_accessibility=45
    S:fluid.aluminumbrass.molten.instability.factor_flat=6.0
    S:fluid.aluminumbrass.molten.rarity=
    S:fluid.aluminumbrass.molten.seabanned=true
    S:fluid.alumite.molten.grammar=
    S:fluid.alumite.molten.instability.factor_accessibility=
    S:fluid.alumite.molten.instability.factor_flat=
    S:fluid.alumite.molten.rarity=
    S:fluid.alumite.molten.seabanned=true
    S:fluid.ardite.molten.grammar=
    S:fluid.ardite.molten.instability.factor_accessibility=
    S:fluid.ardite.molten.instability.factor_flat=
    S:fluid.ardite.molten.rarity=
    S:fluid.ardite.molten.seabanned=true
    S:fluid.bioethanol.grammar=
    S:fluid.bioethanol.instability.factor_accessibility=
    S:fluid.bioethanol.instability.factor_flat=
    S:fluid.bioethanol.rarity=
    S:fluid.bioethanol.seabanned=true
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.rarity=
    S:fluid.biomass.seabanned=true
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.rarity=
    S:fluid.blood.seabanned=
    S:fluid.bronze.molten.grammar=
    S:fluid.bronze.molten.instability.factor_accessibility=
    S:fluid.bronze.molten.instability.factor_flat=
    S:fluid.bronze.molten.rarity=
    S:fluid.bronze.molten.seabanned=true
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.rarity=
    S:fluid.coal.seabanned=true
    S:fluid.cobalt.molten.grammar=
    S:fluid.cobalt.molten.instability.factor_accessibility=
    S:fluid.cobalt.molten.instability.factor_flat=
    S:fluid.cobalt.molten.rarity=
    S:fluid.cobalt.molten.seabanned=true
    S:fluid.copper.molten.grammar=
    S:fluid.copper.molten.instability.factor_accessibility=
    S:fluid.copper.molten.instability.factor_flat=
    S:fluid.copper.molten.rarity=
    S:fluid.copper.molten.seabanned=true
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.rarity=
    S:fluid.cryotheum.seabanned=true
    S:fluid.electrum.molten.grammar=
    S:fluid.electrum.molten.instability.factor_accessibility=
    S:fluid.electrum.molten.instability.factor_flat=
    S:fluid.electrum.molten.rarity=
    S:fluid.electrum.molten.seabanned=true
    S:fluid.emerald.liquid.grammar=
    S:fluid.emerald.liquid.instability.factor_accessibility=
    S:fluid.emerald.liquid.instability.factor_flat=
    S:fluid.emerald.liquid.rarity=
    S:fluid.emerald.liquid.seabanned=true
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.rarity=
    S:fluid.ender.seabanned=true
    S:fluid.enderium.molten.cardrank=
    S:fluid.enderium.molten.grammar=
    S:fluid.enderium.molten.instability.factor_accessibility=
    S:fluid.enderium.molten.instability.factor_flat=
    S:fluid.enderium.molten.rarity=
    S:fluid.enderium.molten.seabanned=true
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.rarity=
    S:fluid.fluiddeath.seabanned=true
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.rarity=
    S:fluid.fluidpure.seabanned=true
    S:fluid.fluidvishroom.cardrank=
    S:fluid.fluidvishroom.grammar=
    S:fluid.fluidvishroom.instability.factor_accessibility=
    S:fluid.fluidvishroom.instability.factor_flat=
    S:fluid.fluidvishroom.seabanned=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.rarity=
    S:fluid.fluxgoo.seabanned=true
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.rarity=
    S:fluid.for.honey.seabanned=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.rarity=
    S:fluid.gendustry.liquiddna.seabanned=true
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.rarity=
    S:fluid.gendustry.mutagen.seabanned=true
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.rarity=
    S:fluid.gendustry.protein.seabanned=true
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.molten.grammar=
    S:fluid.glass.molten.instability.factor_accessibility=
    S:fluid.glass.molten.instability.factor_flat=
    S:fluid.glass.molten.rarity=
    S:fluid.glass.molten.seabanned=true
    S:fluid.glass.rarity=
    S:fluid.glass.seabanned=true
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.glowstone.rarity=
    S:fluid.glue.cardrank=
    S:fluid.glue.grammar=
    S:fluid.glue.instability.factor_accessibility=
    S:fluid.glue.instability.factor_flat=
    S:fluid.glue.rarity=
    S:fluid.glue.seabanned=true
    S:fluid.gold.molten.grammar=
    S:fluid.gold.molten.instability.factor_accessibility=
    S:fluid.gold.molten.instability.factor_flat=
    S:fluid.gold.molten.rarity=
    S:fluid.gold.molten.seabanned=true
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.rarity=
    S:fluid.ice.seabanned=true
    S:fluid.invar.molten.grammar=
    S:fluid.invar.molten.instability.factor_accessibility=
    S:fluid.invar.molten.instability.factor_flat=
    S:fluid.invar.molten.rarity=
    S:fluid.invar.molten.seabanned=true
    S:fluid.iron.molten.grammar=
    S:fluid.iron.molten.instability.factor_accessibility=
    S:fluid.iron.molten.instability.factor_flat=
    S:fluid.iron.molten.rarity=
    S:fluid.iron.molten.seabanned=true
    S:fluid.jaffas.corrosivegoo.grammar=
    S:fluid.jaffas.corrosivegoo.instability.factor_accessibility=
    S:fluid.jaffas.corrosivegoo.instability.factor_flat=
    S:fluid.jaffas.corrosivegoo.rarity=
    S:fluid.jaffas.corrosivegoo.seabanned=true
    S:fluid.jaffas.mininggoo.grammar=
    S:fluid.jaffas.mininggoo.instability.factor_accessibility=
    S:fluid.jaffas.mininggoo.instability.factor_flat=
    S:fluid.jaffas.mininggoo.rarity=
    S:fluid.jaffas.mininggoo.seabanned=true
    S:fluid.jaffas.unstablegoo.grammar=
    S:fluid.jaffas.unstablegoo.instability.factor_accessibility=
    S:fluid.jaffas.unstablegoo.instability.factor_flat=
    S:fluid.jaffas.unstablegoo.rarity=
    S:fluid.jaffas.unstablegoo.seabanned=true
    S:fluid.jaffas.wateroflife.grammar=
    S:fluid.jaffas.wateroflife.instability.factor_accessibility=
    S:fluid.jaffas.wateroflife.instability.factor_flat=
    S:fluid.jaffas.wateroflife.rarity=
    S:fluid.jaffas.wateroflife.seabanned=true
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.rarity=
    S:fluid.juice.seabanned=true
    S:fluid.lead.molten.grammar=
    S:fluid.lead.molten.instability.factor_accessibility=
    S:fluid.lead.molten.instability.factor_flat=
    S:fluid.lead.molten.rarity=
    S:fluid.lead.molten.seabanned=true
    S:fluid.life_essence.grammar=
    S:fluid.life_essence.instability.factor_accessibility=
    S:fluid.life_essence.instability.factor_flat=
    S:fluid.life_essence.rarity=
    S:fluid.life_essence.seabanned=true
    S:fluid.lumium.molten.grammar=
    S:fluid.lumium.molten.instability.factor_accessibility=
    S:fluid.lumium.molten.instability.factor_flat=
    S:fluid.lumium.molten.rarity=
    S:fluid.lumium.molten.seabanned=true
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.rarity=
    S:fluid.mana.seabanned=true
    S:fluid.manyullyn.molten.grammar=
    S:fluid.manyullyn.molten.instability.factor_accessibility=
    S:fluid.manyullyn.molten.instability.factor_flat=
    S:fluid.manyullyn.molten.rarity=
    S:fluid.manyullyn.molten.seabanned=true
    S:fluid.mfr.biofuel.still.name.grammar=
    S:fluid.mfr.biofuel.still.name.instability.factor_accessibility=
    S:fluid.mfr.biofuel.still.name.instability.factor_flat=
    S:fluid.mfr.biofuel.still.name.rarity=
    S:fluid.mfr.biofuel.still.name.seabanned=true
    S:fluid.mfr.chocolatemilk.still.name.grammar=
    S:fluid.mfr.chocolatemilk.still.name.instability.factor_accessibility=
    S:fluid.mfr.chocolatemilk.still.name.instability.factor_flat=
    S:fluid.mfr.chocolatemilk.still.name.rarity=
    S:fluid.mfr.chocolatemilk.still.name.seabanned=true
    S:fluid.mfr.meat.still.name.grammar=
    S:fluid.mfr.meat.still.name.instability.factor_accessibility=
    S:fluid.mfr.meat.still.name.instability.factor_flat=
    S:fluid.mfr.meat.still.name.rarity=
    S:fluid.mfr.meat.still.name.seabanned=true
    S:fluid.mfr.milk.still.name.grammar=
    S:fluid.mfr.milk.still.name.instability.factor_accessibility=
    S:fluid.mfr.milk.still.name.instability.factor_flat=
    S:fluid.mfr.milk.still.name.rarity=
    S:fluid.mfr.milk.still.name.seabanned=true
    S:fluid.mfr.mobessence.still.name.grammar=
    S:fluid.mfr.mobessence.still.name.instability.factor_accessibility=
    S:fluid.mfr.mobessence.still.name.instability.factor_flat=
    S:fluid.mfr.mobessence.still.name.rarity=
    S:fluid.mfr.mobessence.still.name.seabanned=true
    S:fluid.mfr.mushroomsoup.still.name.grammar=
    S:fluid.mfr.mushroomsoup.still.name.instability.factor_accessibility=
    S:fluid.mfr.mushroomsoup.still.name.instability.factor_flat=
    S:fluid.mfr.mushroomsoup.still.name.rarity=
    S:fluid.mfr.mushroomsoup.still.name.seabanned=true
    S:fluid.mfr.pinkslime.still.name.grammar=
    S:fluid.mfr.pinkslime.still.name.instability.factor_accessibility=
    S:fluid.mfr.pinkslime.still.name.instability.factor_flat=
    S:fluid.mfr.pinkslime.still.name.rarity=
    S:fluid.mfr.pinkslime.still.name.seabanned=true
    S:fluid.mfr.sewage.still.name.grammar=
    S:fluid.mfr.sewage.still.name.instability.factor_accessibility=
    S:fluid.mfr.sewage.still.name.instability.factor_flat=
    S:fluid.mfr.sewage.still.name.rarity=
    S:fluid.mfr.sewage.still.name.seabanned=true
    S:fluid.mfr.sludge.still.name.grammar=
    S:fluid.mfr.sludge.still.name.instability.factor_accessibility=
    S:fluid.mfr.sludge.still.name.instability.factor_flat=
    S:fluid.mfr.sludge.still.name.rarity=
    S:fluid.mfr.sludge.still.name.seabanned=
    S:fluid.mfr.steam.still.name.grammar=
    S:fluid.mfr.steam.still.name.instability.factor_accessibility=
    S:fluid.mfr.steam.still.name.instability.factor_flat=
    S:fluid.mfr.steam.still.name.rarity=
    S:fluid.mithril.molten.grammar=
    S:fluid.mithril.molten.instability.factor_accessibility=
    S:fluid.mithril.molten.instability.factor_flat=
    S:fluid.mithril.molten.rarity=
    S:fluid.mithril.molten.seabanned=true
    S:fluid.molten.manasteel.grammar=
    S:fluid.molten.manasteel.instability.factor_accessibility=
    S:fluid.molten.manasteel.instability.factor_flat=
    S:fluid.molten.manasteel.rarity=
    S:fluid.molten.manasteel.seabanned=
    S:fluid.molten.plassteel.grammar=
    S:fluid.molten.plassteel.instability.factor_accessibility=
    S:fluid.molten.plassteel.instability.factor_flat=
    S:fluid.molten.plassteel.rarity=
    S:fluid.molten.plassteel.seabanned=
    S:fluid.molten.plastic.grammar=
    S:fluid.molten.plastic.instability.factor_accessibility=
    S:fluid.molten.plastic.instability.factor_flat=
    S:fluid.molten.plastic.rarity=
    S:fluid.molten.plastic.seabanned=
    S:fluid.molten.terrasteel.grammar=
    S:fluid.molten.terrasteel.instability.factor_accessibility=
    S:fluid.molten.terrasteel.instability.factor_flat=
    S:fluid.molten.terrasteel.rarity=
    S:fluid.molten.terrasteel.seabanned=
    S:fluid.molten.witheriron.grammar=
    S:fluid.molten.witheriron.instability.factor_accessibility=
    S:fluid.molten.witheriron.instability.factor_flat=
    S:fluid.molten.witheriron.rarity=
    S:fluid.molten.witheriron.seabanned=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.rarity=
    S:fluid.myst.ink.black.seabanned=true
    S:fluid.nickel.molten.grammar=
    S:fluid.nickel.molten.instability.factor_accessibility=
    S:fluid.nickel.molten.instability.factor_flat=
    S:fluid.nickel.molten.rarity=
    S:fluid.nickel.molten.seabanned=true
    S:fluid.obsidian.molten.grammar=
    S:fluid.obsidian.molten.instability.factor_accessibility=
    S:fluid.obsidian.molten.instability.factor_flat=
    S:fluid.obsidian.molten.rarity=
    S:fluid.obsidian.molten.seabanned=true
    S:fluid.pigiron.molten.grammar=
    S:fluid.pigiron.molten.instability.factor_accessibility=
    S:fluid.pigiron.molten.instability.factor_flat=
    S:fluid.pigiron.molten.rarity=
    S:fluid.pigiron.molten.seabanned=true
    S:fluid.platinum.molten.grammar=
    S:fluid.platinum.molten.instability.factor_accessibility=
    S:fluid.platinum.molten.instability.factor_flat=
    S:fluid.platinum.molten.rarity=
    S:fluid.platinum.molten.seabanned=true
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=72
    S:fluid.pyrotheum.instability.factor_flat=7.0
    S:fluid.pyrotheum.rarity=
    S:fluid.pyrotheum.seabanned=true
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.rarity=
    S:fluid.redstone.seabanned=true
    S:fluid.seedoil.grammar=
    S:fluid.seedoil.instability.factor_accessibility=
    S:fluid.seedoil.instability.factor_flat=
    S:fluid.seedoil.rarity=
    S:fluid.seedoil.seabanned=true
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.rarity=
    S:fluid.short.mead.seabanned=true
    S:fluid.signalum.molten.grammar=
    S:fluid.signalum.molten.instability.factor_accessibility=
    S:fluid.signalum.molten.instability.factor_flat=
    S:fluid.signalum.molten.rarity=
    S:fluid.signalum.molten.seabanned=true
    S:fluid.silver.molten.grammar=
    S:fluid.silver.molten.instability.factor_accessibility=
    S:fluid.silver.molten.instability.factor_flat=
    S:fluid.silver.molten.rarity=
    S:fluid.silver.molten.seabanned=true
    S:fluid.slime.blue.grammar=
    S:fluid.slime.blue.instability.factor_accessibility=
    S:fluid.slime.blue.instability.factor_flat=
    S:fluid.slime.blue.rarity=
    S:fluid.slime.blue.seabanned=true
    S:fluid.steel.molten.grammar=
    S:fluid.steel.molten.instability.factor_accessibility=
    S:fluid.steel.molten.instability.factor_flat=
    S:fluid.steel.molten.rarity=
    S:fluid.steel.molten.seabanned=true
    S:fluid.stone.seared.grammar=
    S:fluid.stone.seared.instability.factor_accessibility=
    S:fluid.stone.seared.instability.factor_flat=
    S:fluid.stone.seared.rarity=
    S:fluid.stone.seared.seabanned=true
    S:fluid.syngas.cardrank=
    S:fluid.syngas.grammar=
    S:fluid.syngas.instability.factor_accessibility=
    S:fluid.syngas.instability.factor_flat=
    S:fluid.syngas.rarity=
    S:fluid.tin.molten.grammar=
    S:fluid.tin.molten.instability.factor_accessibility=
    S:fluid.tin.molten.instability.factor_flat=
    S:fluid.tin.molten.rarity=
    S:fluid.tin.molten.seabanned=true
}


baselining {
    # If false, the profiling will run on game startup with the loading bar. If true, it will run in the background when playing. Setting this to false disables tickrate checking, even on the server.
    B:client.persave=true

    # If set to true this will prevent clients from connecting while baseline profiling is ongoing (Only works on dedicated servers)
    B:server.disconnectclients=false

    # This controls the minimum number ot ticks to wait before a new chunk will be generated when doing the baseline profiling in the background.
    I:tickrate.minimum=5

    # If true, the baseline calculations won't run and instead a config file will be read.
    B:useconfigs=false
}


entity {
    I:entity.book.id=219
    I:entity.falling.id=218
    I:entity.meteor.id=217
}


general {
    B:commands.spawnmeteor.enabled=false
    B:configs.generate_template.balance=false
    B:crafting.binder.enabled=true
    B:crafting.bookstand.enabled=true
    B:crafting.desk.enabled=true
    B:crafting.deskback.enabled=true
    B:crafting.folder.enabled=true
    B:crafting.inkmixer.enabled=true
    B:crafting.lectern.enabled=true
    B:crafting.linkbook.enabled=true
    B:crafting.linkeffects.disarm.enabled=false
    B:crafting.linkeffects.generate_platform.enabled=true
    B:crafting.linkeffects.intra_linking.enabled=false
    B:crafting.linkeffects.maintain_momentum.enabled=true
    B:crafting.linkeffects.relative.enabled=true
    B:crafting.portfolio.enabled=true
    B:crafting.receptacle.enabled=true
    B:generation.villageDeskGen=true
    I:ids.dim_provider=1210950779
    I:ids.villager.archivist=1210950779
    B:options.binder.enabled=true
    B:options.bookstand.enabled=true
    B:options.command.spawnmeteor.enabled=false
    B:options.desk.enabled=true
    B:options.deskback.enabled=true
    B:options.fastRainbows=true
    B:options.folder.enabled=true
    I:options.homedim=0
    B:options.inkmixer.enabled=true
    S:options.instability.difficulty=
    B:options.instability.enabled=true
    B:options.lectern.enabled=true
    B:options.linkbook.enabled=true
    B:options.notebook.enabled=true
    B:options.portfolio.enabled=true
    B:options.profiling.baseline.disconnectclients=false
    I:options.providerId=1210950779
    B:options.receptacle.enabled=true
    B:options.renderlabels=false
    B:options.requireUUIDTest=false
    B:options.respawnInAges=true
    B:options.villageDeskGen=true
    B:respawning.respawnInAges=true
    I:teleportation.homedim=0

    # If set to true, the dimension matching test will be strict. This will force new players to the "home" dimension.
    B:teleportation.requireUUIDTest=false
    I:villager.archivist.id=1210950779
}


render {
    B:fast_rainbows=true

    # If set to false on the server config, this will override client settings.
    B:renderlabels=false
}


