# Configuration file

"highlands biomes" {
    I:Alps=1
    I:"Autumn Forest"=10
    I:Badlands=5
    I:"Bald Hill"=1
    I:"Birch Hills"=10
    I:Bog=5
    I:Canyon=5
    I:Cliffs=8
    I:"Desert Island"=5
    I:"Desert Mountains"=5
    I:Dunes=5
    I:Estuary=5
    I:"Flying Mountains"=10
    I:"Forest Island"=5
    I:Glacier=1
    I:Highlands=5
    I:Lake=10
    I:Lowlands=10
    I:Meadow=5
    I:Mesa=1
    I:Oasis=10
    I:Outback=1
    I:Pinelands=5
    I:Rainforest=5
    I:"Redwood Forest"=5
    I:"Rock Island"=1
    I:"Rock Mountains"=1
    I:Sahel=8
    I:Savannah=1
    I:Shrubland=1
    I:"Snow Island"=1
    I:"Snow Mountains"=1
    I:Steppe=1
    I:"Tall Pine Forest"=1
    I:"Tropical Islands"=5
    I:Tropics=5
    I:Tundra=1
    I:Valley=10
    I:"Volcano Island"=6
    I:"Windy Island"=10
    I:"Woodland Mountains"=10
    I:Woodlands=5
}


"minecraft biomes" {
    I:Beach=10
    I:"Birch Forest"=10
    I:"Birch Forest Hills"=5
    I:"Birch Forest Hills M"=3
    I:"Birch Forest M"=1
    I:"Cold Beach"=1
    I:"Cold Taiga"=1
    I:"Cold Taiga Hills"=1
    I:"Cold Taiga M"=1
    I:"Deep Ocean"=1
    I:Desert=10
    I:"Desert M"=3
    I:DesertHills=5
    I:"Extreme Hills"=5
    I:"Extreme Hills Edge"=10
    I:"Extreme Hills M"=10
    I:"Extreme Hills+"=10
    I:"Extreme Hills+ M"=10
    I:"Flower Forest"=1
    I:Forest=20
    I:ForestHills=5
    I:FrozenRiver=1
    I:"Ice Mountains"=1
    I:"Ice Plains"=3
    I:"Ice Plains Spikes"=1
    I:Jungle=10
    I:"Jungle M"=1
    I:JungleEdge=1
    I:"JungleEdge M"=1
    I:JungleHills=1
    I:"Mega Spruce Taiga"=1
    I:"Mega Taiga"=1
    I:"Mega Taiga Hills"=1
    I:Mesa=5
    I:"Mesa (Bryce)"=5
    I:"Mesa Plateau"=5
    I:"Mesa Plateau F"=5
    I:"Mesa Plateau F M"=5
    I:"Mesa Plateau M"=5
    I:MushroomIsland=3
    I:MushroomIslandShore=5
    I:Ocean=1
    I:Plains=30
    I:River=20
    I:"Roofed Forest"=10
    I:"Roofed Forest M"=1
    I:Savanna=10
    I:"Savanna M"=1
    I:"Savanna Plateau"=1
    I:"Savanna Plateau M"=1
    I:"Stone Beach"=5
    I:"Sunflower Plains"=1
    I:Swampland=10
    I:"Swampland M"=1
    I:Taiga=1
    I:"Taiga M"=1
    I:TaigaHills=1
}


